.home_page{
    
    font-family: pressStart;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
}

.home_options{
    display: flex;
    flex-direction: column;
    color:white;
    padding: 1%;
    border-radius: 10px;
}


.home_title{
    
    background: linear-gradient(to bottom, black, grey);
    border-radius: 10px;
    border:3px white solid;
    display: flex;
    flex-direction: column;
    
}


.home_title p{
    display: flex;
    align-items:flex-start;
    margin-left: 2%;
    font-size: 15px;
}

.filter_order_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.filter_order_options div{
    font-size: 10px;
    border:3px white solid;
    border-radius: 10px;
    background: linear-gradient(to bottom, black, grey);
    padding: 5px;
}

.filter_order_options select{
    font-family: fontTwo;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.loading{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:50px;
    padding: 55px;
}

.no_games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 40px;
}

.no_games img{
    width:350px;
    height: auto;
}

@media screen and (max-width:500px) {
    .home_title h1{
        font-size: 20px;
    }

    .home_title p{
        font-size: 10px;
    }

    .filter_order_options{
        display: flex;
        flex-direction: column;
    }

    .filter_order_options div{
        padding: 0%;
    }

    .filter_order_options label{
        display: none;
    }

    .filter_order_options select{
        background:linear-gradient(to bottom,black,grey);
        color: white;
        margin-top: 0%;
    }

    .filter_order_options option{
        background-color: black;
    }

    .loading{
    
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:white;
        font-size:20px;
        padding: 2%;
    }

    .loading img{
        width: 95%;
    }

    .no_games{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:white;
        font-size: 20px;
    }
    
    .no_games img{
        width:fit-content;
    }
}