.landing_page{
    display: flex;
    background-image: url("https://media.istockphoto.com/photos/dynamic-retro-background-picture-id1200128505?b=1&k=6&m=1200128505&s=170667a&w=0&h=YgS7enlSLxOSzDHmF4c959LsIUXCq-QjXt4kMgjNN-E=");
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    background-color: #480B7B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-shadow: 2px 2px white;
}

.landing_page h1{
    font-size:80px;
}

.landing_page p{
    font-size: 80px;
}

.landing_page button{
    font-size: 60px;
    background: linear-gradient(to bottom, violet, darkviolet);
    border-radius: 15px;
    border-width: 10px;
}

.landing_page button:hover{
    font-size: 60px;
    background: linear-gradient(to bottom, violet, darkviolet);
    border-radius: 15px;
    border-width: 10px;
    border-color: white;
}

.Link{
    text-decoration: none;
    color: black;
}

