.landing_page{
    display: flex;
    background-image: url(../../img/landing.jpg);
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    background-color: #480B7B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px black;
    
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
    color:white;
    
}

.landing_page p{
    font-size:20px;
    font-family: pressStart;
}

.landing_page button{
    font-size: 15px;
    background: linear-gradient(to bottom, black, grey);
    border-radius: 10px;
    padding: 10px;
    font-family: pressStart;
    
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
    color:white;
}

.landing_page button:hover{
    background: linear-gradient(to bottom, white, grey);
    color: magenta;
}

@media screen and (max-width:400px) {
    .landing_page p{
        font-size: 15px;
    }

    .landing_page button{
        font-size: 10px;
        padding: 10px;
    }
}



