.pagination{
    display:flex;
    flex-direction: column;
}

.page_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_buttons label{
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
}

.page_buttons input{
    width: 50px;
    height: 30px;
    border: 3px white solid;
    background: linear-gradient(to bottom, magenta, orange);
    color:white;
    border-radius: 10px;
}
.page_buttons input:disabled{
    display: none;
}
