.pagination{
    display:flex;
    flex-direction: column;
}

.page_buttons{
    display: flex;
    justify-content: center;
    padding: 15px;
   
}

.page_buttons label{
    font-size: 30px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.page_buttons input{
    width: 60px;
    border: 3px lime solid;
    background-color: black;
    color:lime;
    border-radius: 10px;
}
.page_buttons input:disabled{
    display: none;
}
