.game_details{
    display: flex;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/015/090/small/retro-style-game-pattern-grid-background-free-video.jpg");
    background-color: #480B7B;
    color: white;
    font-family: pressStart;
    padding: 100px;
}

.game_details img{
    height: 300px;
    border-radius: 10px;
}


.game_title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, magenta,cyan);
}

.game_title h1{
    font-size: 50px;
    
}


.game_body{
    display: flex;
    flex-direction: column;
}

.game_description{
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, magenta,cyan);
    margin-top: 20px;
    margin-bottom: 20px;
}

.game_description h2{
    text-decoration: underline;
}

.game_description p{
    text-align: justify;
}

.game_options{
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, magenta,cyan);
}

.game_options ul{
    list-style-type: '>';
}
