.videogame_cards{
    padding: 1%;
}

.game_card{
    display: flex;
    flex-direction: column;
    color:white;
    background-color:grey;
    border-radius: 10px;
    width: 270px;
    height: 400px;
    font-weight: bold;
    border:3px solid black;
}

.card_details{
    display: flex;
    flex-direction: column;
    background-color:  black;
    border:10px solid black;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
}


.card_details img{
    max-height:150px;
    max-width: 200px;
}

.enter_game{
    text-decoration: none;
    color: white;
    color: lime;
    -webkit-text-stroke: 0px;
}

.genres{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}

.card_details label{
    font-size: 10px;
    padding: 3px;

}

.game_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.game_buttons img{
    width: 40px;
}



