.create{
    display: flex;
    flex-direction: column;
    padding: 50px 60px 60px 60px;
    background-image: url(../../img/background.jpg);
    max-width: 100%;
    min-height: 100%;
    background-color: #480B7B;
    color: white;
    font-family: fontTwo;
    font-size: 25px;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: black;
}

.create h1{
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
    font-family: pressStart;
    font-size: 40px;
}

.create_options{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.create_options input{
    margin-left: 5px;
    font-family: fontTwo;
    font-size: 25px;
}

.create_options select{
    margin-left: 5px;
    margin-right: 20px;
    font-family: fontTwo;
    font-size: 25px;
}

.create_options button{
    font-family: fontTwo;
    font-size: 25px;
}

.create_lists{
    display: flex;
    flex-wrap: wrap;
    font-family: fontTwo;
    font-size: 25px;
    color: white;
}

.create_lists label{
    padding: 1px 10px 0px 10px ;
    border-radius: 10px;
    background:linear-gradient(to bottom, black, grey);
    border: 2px magenta solid;
    margin-left: 10px;
    margin-right: 10px;
}

.create_errors{
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.created{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create_button{
    width: 200px;
    font-family: fontTwo;
    font-size: 25px;
    margin: 20px;
}

.create_message{
    color: lime;
    display: flex;
    font-size: 30px;
}



@media screen and (max-width:500px) {
    .create{
        padding: 1%;
    }
    
    .create h1{
        font-size: 20px;
    }

    .create_options{
        padding: 1%;
        display: flex;
        flex-direction: column;
    }

    .create_errors{
        border-radius: 0px 0px 10px 10px;
    }

    
}