.game_details{
    display: flex;
    flex-direction: column;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/015/090/small/retro-style-game-pattern-grid-background-free-video.jpg");
    background-color: #480B7B;
    color: white;
    align-items: center;
}

.game_title h1{
    font-size: 40px;
    text-shadow: 5px 5px 0px white;
    background-image: linear-gradient(to bottom,aqua,magenta);
    background-clip: text;
    color: transparent;
}

.game_details p{
    font-size: 20px;
}

.game_details img{
    height: 300px;
    border-radius: 10px;
}

.game_title{
    margin-left: 100px;
    margin-right: 100px;
}

.game_body{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game_options{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.game_options p{
    font-size:20px;
    
}