.details_container{
    background-image: url(../../img/background.jpg);
    background-color: #480B7B;
    
    color: white;
    font-family: pressStart;
    padding: 100px;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: magenta;
}

.game_details{
    display: flex;
    flex-direction: column;
    
}

.game_details img{
    height: 300px;
    border-radius: 10px;
}


.game_title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, black,grey);
}

.game_title h1{
    font-size: 50px;
    
}


.game_body{
    display: flex;
    flex-direction: column;
}

.game_description{
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, black,grey);
    margin-top: 20px;
    margin-bottom: 20px;
}

.game_description h2{
    text-decoration: underline;
}

.game_description p{
    text-align: justify;
}

.game_options{
    text-align: justify;
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to bottom, black,grey);
}

.game_options ul{
    list-style-type: '>';
}

@media screen and (max-width:400px) {
    .details_container{
        padding: 2%;
    }

    .game_title{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .game_title h1{
        font-size: 20px;
    }

    .game_title img{
        width:99%;
        height: auto;
    }

    .game_description h2{
        font-size: 15px;
    }

    .game_description p{
        font-size: 10px;
    }

    .game_options{
        font-size: 10px;
        text-align: start;
    }
}