.videogame_cards{
    padding: 1%;
    margin: 2%;
}

.game_card{
    display: flex;
    flex-direction: column;
    color:white;
    background-color:grey;
    border-radius: 10px;
    width: 300px;
    font-weight: bold;
    border:3px solid black;
}

.card_details{
    display: flex;
    flex-direction: column;
    background-color:  black;
    border:15px solid black;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
}

.card_details img{
    width: 250px;
    height: auto;
    
}

.card_details a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    color: lime;
}

.genres{
    display: flex;
    flex-wrap: wrap;
}

.genres label{
    padding: 3px;

}

.game_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.game_buttons img{
    width: 50px;
}



