.create{
    display: flex;
    flex-direction: column;
    padding: 50px 60px 60px 60px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/015/090/small/retro-style-game-pattern-grid-background-free-video.jpg");
    max-width: 100%;
    min-height: 100%;
    background-color: #480B7B;
    color: white;
    font-family: fontTwo;
    font-size: 25px;
}

.create h1{
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: pressStart;
    font-size: 40px;
}

.create_options{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.create_options input{
    margin-left: 5px;
    font-family: fontTwo;
    font-size: 25px;
}

.create_options select{
    margin-left: 5px;
    margin-right: 20px;
    font-family: fontTwo;
    font-size: 25px;
}

.create_options button{
    font-family: fontTwo;
    font-size: 25px;
}

.create_lists{
    display: flex;
    flex-wrap: wrap;
    font-family: fontTwo;
    font-size: 25px;
    color: white;
}

.create_lists label{
    padding: 10px;
    border-radius: 10px;
    background-color: lime;
    margin-left: 10px;
    margin-right: 10px;
}

.create_errors{
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 0px 10px 10px 0px;
}

.create_button{
    width: 200px;
    font-family: fontTwo;
    font-size: 25px;
    margin: 20px;
}

.create_message{
    color: lime;
    display: flex;
    align-self: flex-start;
    font-size: 40px;
}